.App {
  display: flex;
}

.app_left {
  width: 50%;
  height: 100vh;

  height: auto;
  min-height: 100vh;
  /* 真ん中に小さい箱を作る */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_container {
  width: 70%;
  height: 70%;
  position: relative;
}

.app_right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_right_container {
  width: 70%;

  height: 70%;
  border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  .app_left {
    width: 0;
  }
  .app_right {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app_right_container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
